.header {
  flex-wrap: wrap;
  padding: 30px;
  background-color: #20cc6d;
  color: #000000;
}
/*Header text structure*/
.header h1 {
  font-size: 50px;
}
/*Header Navigation structure*/
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  font-size: 20px;
}

.header nav ul {

  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  
}

.project-card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

.project-card img {
  max-height: 200px;
  max-width: 300px;
}
