@media only screen and (max-width: 768px) {
  .header nav {
    display: none;
  }
}
body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: #20cc6d;
  color: #000000;
}
/*Header text structure*/
.header h1 {
  font-size: 50px;
}
/*Header Navigation structure*/
.header nav {
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
}

.hero img {
  max-height: 100px;
  max-width: 100%;
}
#about-me {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  justify-content: space-between;
}

#about-me p{
  padding-left: 30px;
  
}
.content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.showcase-project img {
  max-height: 1000px;
  max-width: 1000px;
}

#projects {
  justify-content: flex-end;
}
#projects h2 {
  float: left;
}
#projects h3 {
  text-align: center;
}
 #projects p {
   text-align: center;
 }

.project-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.other-projects {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}
.other-projects img {
  background-color: #fff;
  padding: 20px;
 
}

.project-card {
  padding: 10px;
  flex: 0 0 220px;
}

.project-card img {
  max-height: 200px;
  max-width: 300px;
}
#contact {
  display: flex;

}
#contact nav ul{
  list-style-type: none;
}

#contact nav ul li {
  display: inline-block;
}